
@model IEnumerable<Laptop.Entity.LaptopSpecification>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>
@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"])
}
<br />
@Html.ActionLink("Add New Laptop", "Create")
<table border="1">
    <tr>
        <th>Id</th>
        <th>Laptop Brand</th>
        <th>Price</th>
        <th>Decription</th>
        
    </tr>
    @foreach (Laptop.Entity.LaptopSpecification product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Brand</td>
            <td>@product.Price</td>
            <td>@product.Description</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = product.Id })
                @Html.ActionLink("Delete", "Delete", new { id = product.Id })
            </td>
        </tr>
    }
</table>

