@model Account.Entity.Accounts

@{
    ViewBag.Title = "Login";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>

        table, th, td {
            border: 1px solid black;
            padding: 15px;
            width: 100px;
        }

        input[type="text"] {
            border: none;
            padding: 10px;
        }

        span {
            color: red;
        }

        h2 {
            text-align: center;
        }

    </style>
<h2 style="text-align:center;">Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
<table align="center" cellspacing:300px>

    <tr>
    <tr>
    <tr>
        <td><lable>Email :</lable></td>
        <td> <lable>@Html.TextBoxFor(model => model.Email)</lable><span> @Html.ValidationMessageFor(model => model.Email)</span></td>
    </tr>


   
    <tr>
        <td><lable>Password :</lable></td>
        <td> <lable>@Html.TextBoxFor(Model => Model.Password)</lable><span> @Html.ValidationMessageFor(model => model.Password)</span></td>
    </tr>
    <tr style="float:right;">
        <td>
            <input type="submit" value="Login"/>
        </td>
        <td>
            @Html.ActionLink("SignUp","SignIn","Account")
        </td>
    </tr>
   
</table>
}





