@model Account.Entity.Accounts

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <style>

        table, th, td {
            border: 1px solid black;
            padding: 15px;
            width: 100px;
        }

        input[type="text"] {
            border: none;
            padding: 10px;
        }

        span {
            color: red;
        }

        h2 {
            text-align: center;
        }
    </style>
<h2 style="font-size:20px;text-align:center;">SignIn Page</h2>
<div>
    <table style="border:groove" align="center">

        <tr>
            <td><lable>Name* :</lable></td>
            <td> <lable>@Html.TextBoxFor(Model => Model.Name)</lable><span> @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })</span></td>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </tr>
        <tr>
            <td><lable>Password* :</lable></td>
            <td> <lable>@Html.PasswordFor(Model=> Model.Password)</lable><span> </span> @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })</td>
           
        </tr>
        <tr>
            <td><lable>Enter Qualification :</lable></td>
            <td>
                @Html.DropDownList("Qualification", new List<SelectListItem>
    {
        new SelectListItem { Text = "B.E", Value = "1", Selected=true},
        new SelectListItem { Text = "M.E", Value = "2"},
        new SelectListItem { Text = "Ph.d", Value = "3"},
         new SelectListItem { Text = "MS", Value = "4"}
    }, "Select Department")
                <lable>@Html.TextBoxFor(Model => Model.Qualification)</lable><span>  @Html.ValidationMessageFor(Model => Model.Qualification, "", new { @class = "text-danger" })</span>
            </td>
        </tr>
        <tr>
            <td><lable>Contact No*:</lable></td>
            <td> <lable>@Html.TextBoxFor(Model => Model.ContactNo)</lable><span> @Html.ValidationMessageFor(Model => Model.ContactNo, "", new { @class = "text-danger" })</span></td>
        </tr>
        <tr>
            <td><lable>Email ID* :</lable></td>
            <td> <lable>@Html.TextBoxFor(Model => Model.Email)</lable><span>  @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })</span></td>
        </tr>
        <tr>
            <td><lable>Select Gender :</lable> </td>
            <td>
                Male @Html.RadioButtonFor(Model => Model.Gender, "Male")
                Female @Html.RadioButtonFor(Model => Model.Gender, "Female")
                Another @Html.RadioButtonFor(Model => Model.Gender, "Another")
                <lable>@Html.TextBoxFor(Model => Model.Gender)</lable><span> @Html.ValidationMessageFor(Model => Model.Gender, "", new { @class = "text-danger" })</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Signin" />
            </td>
            <td>
                <a href="www.google.com"></a>
            </td>
    </table>
   
</div>